In [1]:
import pandas as pd
import replay
from replay.metrics import Precision, HitRate, MRR, NDCG, Recall, RocAuc, MAP

### Version

In [2]:
replay.__version__

'0.4.0'

### Data preparation

In [3]:
df_pred = pd.read_csv('./preds_full.csv')
df_test = pd.read_csv('./test.csv')

0.0    21307932
4.5       25887
5.0       12924
Name: relevance, dtype: int64

In [14]:
df_pred.columns=["user_id","item_id","relevance"]

In [15]:
df_pred.head()

   user_id  item_id  relevance
0    28238     4993   0.507034
1    28238      593   0.481357
2    28238     3147   0.350242
3    28238     6874   0.346964
4    28238    32587   0.341740

In [5]:
df_test.head()

   user_id  item_id  rating            timestamp  relevance
0     1256     5378     5.0  2007-10-31 12:18:24        5.0
1     1256      778     4.5  2007-10-31 12:19:51        4.5
2     1256     8376     5.0  2007-10-31 12:30:59        5.0
3     1256     2594     5.0  2007-10-31 12:20:49        5.0
4     1256    30810     4.5  2007-10-31 12:32:24        4.5

### Evaluation metrics

In [17]:
results = pd.DataFrame()

In [18]:
results.at["HitRate@20","value"] = HitRate()(df_pred,df_test,20)

21/07/13 20:34:43 WARN TaskSetManager: Stage 20 contains a task of very large size (62543 KiB). The maximum recommended task size is 1000 KiB.

In [19]:
results.at["Precision@20","value"] = Precision()(df_pred,df_test,20)

21/07/13 20:36:05 WARN TaskSetManager: Stage 25 contains a task of very large size (62543 KiB). The maximum recommended task size is 1000 KiB.

In [25]:
results.at["Recall@20","value"] = Recall()(df_pred,df_test,20)

21/07/13 20:41:59 WARN TaskSetManager: Stage 50 contains a task of very large size (62543 KiB). The maximum recommended task size is 1000 KiB.

In [20]:
results.at["NDCG@20","value"] =RocAucG()(df_pred,df_test,20)

21/07/13 20:37:06 WARN TaskSetManager: Stage 30 contains a task of very large size (62543 KiB). The maximum recommended task size is 1000 KiB.

In [21]:
results.at["MAP@20","value"] = MAP()(df_pred,df_test,20)

21/07/13 20:38:08 WARN TaskSetManager: Stage 35 contains a task of very large size (62543 KiB). The maximum recommended task size is 1000 KiB.

In [22]:
results.at["MRR@20","value"] = MRR()(df_pred,df_test,20)

21/07/13 20:39:32 WARN TaskSetManager: Stage 40 contains a task of very large size (62543 KiB). The maximum recommended task size is 1000 KiB.

In [23]:
results.at["AUC@20","value"] = RocAuc()(df_pred,df_test,20)

21/07/13 20:40:48 WARN TaskSetManager: Stage 45 contains a task of very large size (62543 KiB). The maximum recommended task size is 1000 KiB.

### Results

In [26]:
results

                 value
HitRate@20    0.474570
Precision@20  0.057519
NDCG@20       0.093264
MAP@20        0.039272
MRR@20        0.186324
AUC@20        0.283174
Recall@20     0.096321